In [31]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser

#### NASA Mars News

In [32]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [33]:
html = browser.html
soup = bs(html, 'html.parser')
#soup

In [34]:
news_title = soup.find_all('div' , class_ = 'content_title')[1].text
news_p = soup.find_all('div' , class_ = 'article_teaser_body')[0].text

print(news_title)
print(news_p)

NASA's Perseverance Rover Will Look at Mars Through These 'Eyes'
A pair of zoomable cameras will help scientists and rover drivers with high-resolution color images.

In [35]:
browser.quit()

#### JPL Mars Space Images - Featured Image

In [36]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

url1 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url1)

In [37]:
html1 = browser.html
soup1 = bs(html1, 'html.parser')
#soup1.prettify()

In [38]:
temp_url1 = soup1.find_all('article' , class_ = 'carousel_item')[0]['style']
temp_url2 = soup1.find_all('div' , class_ = 'jpl_logo')[1]

In [39]:
temp_url1 = temp_url1.replace("background-image: url('" , "").replace("');" , "")
#temp_url1

In [40]:
temp_url2= [a['href'] for a in temp_url2.find_all('a', href=True) if a.text]
#temp_url2

In [41]:
featured_image_url = temp_url2[0] + temp_url1
featured_image_url

'https://www.jpl.nasa.gov//spaceimages/images/wallpaper/PIA18049-1920x1200.jpg'

In [42]:
browser.quit()

#### Mars Weather

In [43]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

url2 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url2)

In [44]:
html2 = browser.html
soup2 = bs(html2, 'html.parser')
#soup2

In [45]:
mars_weather = soup2.find_all('div' , class_ = 'css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0')[0].span.text
mars_weather

'InSight sol 511 (2020-05-04) low -93.2ºC (-135.8ºF) high -3.6ºC (25.5ºF)\nwinds from the SW at 4.9 m/s (11.0 mph) gusting to 16.8 m/s (37.6 mph)\npressure at 6.80 hPa'

In [46]:
browser.quit()

#### Mars Facts

In [47]:
url3 = "https://space-facts.com/mars/"

In [48]:
tables = pd.read_html(url3)
#tables[0]

In [49]:
df = tables[0]
df.columns = ['Description' , 'Value']
df.set_index('Description', inplace = True)
df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [50]:
mars_table = df.to_html()

#### Mars Hemispheres

In [21]:
url4 = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
response = requests.get(url4)
soup4 = bs(response.text, "lxml")
#soup4

In [22]:
temp_var = soup4.find_all('div' , class_ = 'description')
#temp_var[0].h3.text

In [23]:
title = [t.h3.text for t in temp_var]    
#title

In [24]:
tempar = []
for link in soup4.findAll('a'):
    tempar.append(link.get('href'))

In [25]:
main_url = [m for m in tempar if "http://astrogeology.usgs.gov/search" in m]
main_url = [s.replace('/search', '') for s in main_url]
main_url

['http://astrogeology.usgs.gov']

In [26]:
sub_urls = [s for s in tempar if "/search/map" in s]
sub_urls = [main_url[0] + i for i in sub_urls]
sub_urls

['http://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced',
 'http://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced',
 'http://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced',
 'http://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced']

In [27]:
temp_var_url = []
for u in sub_urls:
    response1 = requests.get(u)
    soup5 = bs(response1.text, 'lxml')
    temp_var_url.append(main_url[0] + soup5.find('img' , class_ = 'wide-image')['src'])

In [28]:
hemisphere_image_urls = []

for l in range(len(title)):
    hemisphere_image_urls.append({"title": "" + title[l] + "", "img_url": "" + temp_var_url[l] + ""})

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [30]:
mars_var = {}

mars_var["news_title"] = news_title
mars_var["news_p"] = news_p
mars_var["featured_image_url"] = featured_image_url
mars_var["mars_weather"] = mars_weather
mars_var["mars_table"] = mars_table
mars_var["hemisphere_image_urls"] = hemisphere_image_urls

NameError: name 'mars_table' is not defined